{% extends 'email_app/base/base.html' %}
{% block title %}
    <title>Tracked Recipients</title>
{% endblock %}
{% block content %}
    <h3 class="">Tracked Recipients</h3>

    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Tracked Recipients Table </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Seen Time</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for recipient in recipients %}
                        <tr>
                            <th><a class="text-decoration-none text-dark"
                                   href="{% url 'tracked-recipients-details' recipient.id %}"
                                   target="_blank">{{ forloop.counter }}</a>
                            </th>
                            <td><a class="text-decoration-none text-dark"
                                   href="{% url 'tracked-recipients-details' recipient.id %}"
                                   target="_blank">{{ recipient.recipient }}</a>
                            </td>

                            <td><a class="text-decoration-none text-dark"
                                   href="{% url 'tracked-recipients-details' recipient.id %}"
                                   target="_blank">{{ recipient.subject }}</a>
                            </td>
                            <td><a class="text-decoration-none text-dark"
                                   href="{% url 'tracked-recipients-details' recipient.id %}"
                                   target="_blank">{{ recipient.seen_time }}</a>
                            </td>
                            <td><a href="{% url 'tracked-recipients-delete' recipient.id %}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% block javascript %}


    {% endblock %}
{% endblock %}