{% extends 'email_app/base/base.html' %}
{% block title %}
    <title>Add Schedule</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-12">
                <h3>Create Schedule</h3>
                <hr>
                <form action="{% url 'add-schedule' %}" method="post" novalidate class="shadow p-5">
                    {% csrf_token %}
                    {% for fm in form %}
                        <div class="form-group mb-3">
                            {{ fm.label_tag|linebreaks }} {{ fm }} <small
                                class="text-danger">{{ fm.errors|striptags }}</small>
                        </div>

                    {% endfor %}
{#                    <div class="">#}
{#                        <p>Recipients</p>#}
{#                        <select class="js-example-basic-multiple" multiple="multiple"#}
{#                                style="width:100%;height: 30px" name="recipients">#}
{#                            {% for r in recipients %}#}
{#                                <option value="{{ r.email_address }}"#}
{#                                >{{ r.email_address }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}
{##}
{#                    <div class="form-group mt-3">#}
{#                        <p>Subject</p>#}
{#                        <select class="js-example-basic-single" name="subject" style="width:100%;height: 30px">#}
                            {#                    <option disabled selected value>select subject</option>#}
{#                            {% for email in emails %}#}
{#                                <option value="{{ email.subject }}"#}
{#                                >{{ email.subject }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
{#                    </div>#}


                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Create Schedule">
                    <br>

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{ error }}</p>
                        {% endfor %}

                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
    /*
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });

        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                tags: true,
                tokenSeparators: [',', ' ']
            });
        });*/
    </script>
{% endblock %}
