{% extends 'email_app/base/base.html' %}

{% block title %}
    <title>Detail View</title>
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1>Schedule Details</h1>
        <ul class="list-group">
            <li class="list-group-item"><p>Selected Date Time : {{ schedule.schedule }}</p></li>
            <li class="list-group-item"><p>Created Time : {{ schedule.created }}</p></li>
            <li class="list-group-item"><p>Updated Time : {{ schedule.updated }}</p></li>
        </ul>
    </div>
{% endblock %}
