{% extends 'email_app/base/base.html' %}
{% block title %}
    <title>Email List</title>
{% endblock %}
{% block content %}
    <h3 class="">Emails</h3>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Emails Table </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">User</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Body</th>
                        <th scope="col">Created</th>
                        <th scope="col">Updated</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for email in emails %}
                        <tr>
                            <th><a class="text-decoration-none text-dark" href="{% url 'email-details' email.id %}"
                                   target="_blank">{{ forloop.counter }}</a></th>

                            <td><a class="text-decoration-none text-dark" href="{% url 'email-details' email.id %}"
                                   target="_blank">{{ email.created_by }}</a></td>
                            <td><a class="text-decoration-none text-dark" href="{% url 'email-details' email.id %}"
                                   target="_blank">{{ email.subject }}</a></td>
                            <td><a class="text-decoration-none text-dark" href="{% url 'email-details' email.id %}"
                                   target="_blank">{{ email.email_body|safe }}</a></td>
                            <td><a class="text-decoration-none text-dark" href="{% url 'email-details' email.id %}"
                                   target="_blank">{{ email.created }}</a></td>
                            <td><a class="text-decoration-none text-dark" href="{% url 'email-details' email.id %}"
                                   target="_blank">{{ email.updated }}</a></td>

                            <td><a href="{% url 'email-update' email.id %}" class="btn btn-warning">Edit</a></td>
                            <td><a href="{% url 'email-delete' email.id %}" class="btn btn-danger">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}