#id_country {
    width: 100%;
}

#id_state {
    width: 100%;
}

#id_city {
    width: 100%;
}

#id_created_by {
    width: 100%;
}

#id_name {
    width: 100%;
}

#id_email_address {
    width: 100%;
}

#id_dob {
    width: 100%;
}

#id_subject {
    width: 100%;
}

#id_email_body {
    width: 100%;
}
